**/.DS_Store
/.env
/.env.*
!/.env.example

/vendor/
/vendor.zip
/node_modules/

/bootstrap/cache/*.php
!/bootstrap/cache/.gitignore

/storage/*.key
/storage/logs/
/storage/framework/cache/
/storage/framework/sessions/
/storage/framework/views/

# This directory is a hosting-managed Laravel storage link.
/public/storage/
